<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('도서목록')"></head>
<body>

<nav th:replace="fragment/navbar :: nav"></nav>
<div th:replace="fragment/common :: #search-bar"></div>

<main th:object="${books}">

  <!--정렬  -->
  <div class="container">
    <div class="row" >
      <div class="col">결과 총 <span th:text="*{getTotalElements()}"></span> 권</div>
      <div class="col a-tag-off">
        <a th:href="@{/books (keyword=${param.keyword}, searchTarget=${param.searchTarget},
          sort=title + (*{sort.getOrderFor('title') != null} ? (*{sort.getOrderFor('title').isAscending()} ? ',desc' : '' ) : ''))}">제목순</a>
      </div>
      <div class="col a-tag-off">
        <a th:href="@{/books (keyword=${param.keyword}, searchTarget=${param.searchTarget},
          sort=author + (*{sort.getOrderFor('author') != null} ? (*{sort.getOrderFor('author').isAscending()} ? ',desc' : '' ) : ''))}">저자순</a>
      </div>
      <div class="col a-tag-off">
        <a th:href="@{/books (keyword=${param.keyword}, searchTarget=${param.searchTarget},
          sort=publisher + (*{sort.getOrderFor('publisher') != null} ? (*{sort.getOrderFor('publisher').isAscending()} ? ',desc' : '' ) : ''))}">출판사순</a></div>
      <div class="col a-tag-off">
        <a th:href="@{/books (keyword=${param.keyword}, searchTarget=${param.searchTarget},
          sort=publicDate + (*{sort.getOrderFor('publicDate') != null} ? (*{sort.getOrderFor('publicDate').isAscending()} ? ',desc' : '' ) : ''))}">출간일순</a></div>
    </div>
  </div>



  <!--도서목록-->
  <main class="container">
    <div class="row row-cols-auto g-4">
      <div class="col-md-3 col-xl-2" th:each="book : ${books.content}">
        <div class="card">
          <a th:href="@{|/books/${book.id}|}">
            <img class="card-img-top" src="" th:src="${book.coverUrl}">
          </a>
          <div class="card-body">
            <h6 class="card-title" th:text="${book.title}">Card title</h6>
            <p class="card-text">
              <small th:text="${book.author}" class="text-muted">하라리</small>
              <span>/</span>
              <small th:text="${book.publisher}" class="text-muted">김영사</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <nav th:replace="fragment/common :: pagination(path='/books')"></nav>

</main>

<script th:replace="fragment/common :: #script"></script>
</body></html>