<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>도서관 목록</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sort-menu.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
       th:replace="fragments/common :: menu(bookslist)"></nav>

<!--  검색창-->
  <div class="container">
    <form class="form-inline" th:object="${librarySearch}">
      <div class="input-group w-75">
        <input class="form-control" placeholder="검색어를 입력하세요." th:field="*{keyword}" type="text">
        <button class="btn btn-outline-secondary" id="button-addon2" type="submit">검색</button>
      </div>
    </form>
  </div>

  <main th:object="${libraries}"}>
    <div class="container">
      <div class="row" >
        <div class="col">결과 총 <span th:text="*{getTotalElements()}"></span></div>
      </div>
    </div>
    <!--도서관 목록-->
    <main class="container">
      <table class="table table-striped table-hover">
        <!--정렬-->
        <thead>
          <tr>
            <th scope="col" class="sort-menu"><a th:href="@{/admin/library (
                keyword=${param.keyword},
                sort=id + (*{sort.getOrderFor('id') != null} ? (*{sort.getOrderFor('id').isAscending()} ? ',desc' : '' ) : ''),
                page=${param.page}
                )}">id</a></th>
            <th scope="col" class="sort-menu"><a th:href="@{/admin/library (
                keyword=${param.keyword},
                sort=name + (*{sort.getOrderFor('name') != null} ? (*{sort.getOrderFor('name').isAscending()} ? ',desc' : '' ) : ''),
                page=${param.page}
                )}">이름</a></th>
            <th scope="col" class="sort-menu"><a th:href="@{/admin/library (
                keyword=${param.keyword},
                sort=totalBooks + (*{sort.getOrderFor('totalBooks') != null} ? (*{sort.getOrderFor('totalBooks').isAscending()} ? ',desc' : '' ) : ''),
                page=${param.page}
                )}">총 도서수</a></th>
          </tr>
        </thead>
        <tbody th:each="library : ${libraries.content}">
          <tr>
            <th scope="row" th:text="${library.id}">1</th>
            <td th:text="${library.name}">중랑구립도서관</td>
            <td th:text="${library.totalBooks}">3000권</td>
            <td>
              <form method="post" th:action="@{|/admin/library/${library.id}/delete|}">
                <input type="hidden" name="keyword" th:value="${param.keyword}">
                <input type="hidden" name="page" th:value="${param.page}">
                <input type="hidden" name="sort" th:value="${param.sort}">
                <button type="submit" class="btn btn-danger">삭제</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <!--페이징-->
    <div class="container" th:object="${pagination}">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!--이전 버튼-->
          <li class="page-item">
            <a aria-label="Previous" class="page-link" href="#"
               th:href="@{/admin/library(
                 keyword=${param.keyword},
                 sort=${param.sort},
                 page=*{preStartPage}
                 )}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <!--페이지버튼-->
          <div th:each="page : *{pageNumbers}">
            <li class="page-item" >
              <a class="page-link" href="#" th:if="${page != libraries.number}"
                 th:href="@{/admin/library(
                       keyword=${param.keyword},
                       sort=${param.sort},
                       page=${page}
                       )}" th:text="${page+1}">1</a>
            </li>
            <!--현재 페이지 강조-->
            <li class="page-item active" th:if="${page == libraries.number}">
              <span class="page-link" th:text="${page+1}"></span>
            </li>
          </div>
          <!--다음 버튼-->
          <li class="page-item">
            <a aria-label="Next" class="page-link" href="#"
               th:href="@{/admin/library(
                   keyword=${param.keyword},
                   sort=${param.sort},
                   page=*{nextStartPage}
                   )}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

</body>

</html>