<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/common :: head('도서검색')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
     th:replace="fragments/common :: menu(bookslist)"></nav>

<main class="container">
    <div class="card mb-3" style="max-width: 560px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="..." class="img-fluid rounded-start" src="..." th:src="${book.imageUrl}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}">Card title</h5>
                    <p>
                        <span class="card-text" th:text="${book.author}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</span>
                        <span>/</span>
                        <span class="card-text" th:text="${book.publisher}"></span>
                    </p>
                    <div th:each="location : ${book.location}">
                        <span th:text="${location.library}"></span>
                        <span>/</span>
                        <span th:text="${location.ebookService}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>