<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/common :: head('도서검색')"></head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
     th:replace="fragments/common :: menu(bookslist)"></nav>

<!--검색창-->
<div class="container">
    <form class="form-inline" th:object="${bookSearch}">
        <div class="input-group w-75">
            <input class="form-control" placeholder="검색어를 입력하세요." th:field="*{title}" type="text">
            <button class="btn btn-outline-secondary" id="button-addon2" type="submit">검색</button>
        </div>
    </form>
</div>

    <!--도서목록-->
<main class="container">

    <div>결과 총 <span th:text="${page.getTotalElements}"></span> 권</div>

    <div class="row row-cols-auto g-4">
        <div class="col-md-2" th:each="book : ${books}">
            <div class="card">
                <a th:href="@{/books/{id} (id=${book.id})}">
                    <img class="card-img-top" src="" th:src="${book.imageUrl}">
                </a>
                <div class="card-body">
                    <h6 class="card-title" th:text="${book.title}">Card title</h6>
                    <p>
                        <span class="card-text">
                            <small th:text="${book.author}" class="text-muted">하라리</small>
                        </span>
                        <span>/</span>
                        <span class="card-text">
                            <small th:text="${book.publisher}" class="text-muted">김영사</small>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<!--페이징-->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!--이전 버튼-->
            <li class="page-item">
                <a aria-label="Previous" class="page-link" href="#"
                   th:href="@{/books?title={title}&page={preStartPage} (title=${bookSearch.title}, preStartPage=${preStartPage})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--페이지버튼-->
            <div th:each="tempPage : ${#numbers.sequence(startPage, endPage)}">
                <li class="page-item" th:if="${tempPage != page.getNumber+1}">
                    <a class="page-link" href="#" th:href="@{/books?title={title}&page={page} (page=${tempPage}, title=${bookSearch.title})}"
                       th:text="${tempPage}">1</a>
                </li>
                <!--현재 페이지 강조-->
                <li class="page-item active" th:if="${tempPage == page.getNumber+1}">
                    <span class="page-link" th:text="${tempPage}"></span>
                </li>
            </div>
            <!--다음 버튼-->
            <li class="page-item">
                <a aria-label="Next" class="page-link"
                   href="#" th:href="@{/books?title={title}&page={nextStartPage} (title=${bookSearch.title}, nextStartPage=${nextStartPage})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>