<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/common :: head('List')"></head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu(bookslist)"></nav>

    <main class="container">
        <h2 class="mt-5">도서목록</h2>
        <div>총 도서수 : <span th:text="${#lists.size(books)}"></span></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>저자</th>
                    <th>출판사</th>
                    <th>출간일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">  <!-- 반복문으로 데이터 하나씩 빼기-->
                    <th><a th:text="${book.title}">title</a></th>
                    <td th:text="${book.author}">author</td>
                    <td th:text="${book.publisher}">publisher</td>
                    <td th:text="${book.publicDate}">publicDate</td>
                </tr>
            </tbody>
        </table>
<!--        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--            <a th:if="${page != nowPage}" th:href="@{/books/list(page = ${page - 1})}" th:text="${page}"></a>-->
<!--            <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>-->
<!--        </th:block>-->
    </main>
</body>
</html>