<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/common :: head('도서검색')"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
     th:replace="fragments/common :: menu(bookslist)"></nav>

<div class="container">
    <form class="form-inline" th:object="${bookSearch}">
        <div class="input-group w-75">
            <input class="form-control" placeholder="검색어를 입력하세요." th:field="*{title}" type="text">
            <button class="btn btn-outline-secondary" id="button-addon2" type="submit">검색</button>
        </div>
    </form>
</div>

<main class="container">
    <div class="row row-cols-auto g-4">
        <div class="col-md-2" th:each="book : ${books}">
            <div class="card">
                <a th:href="@{/books/{id}(id=${book.id})}">
                    <img class="card-img-top" src="" th:src="${book.imageUrl}">
                </a>
                <div class="card-body">
                    <h6 class="card-title" th:text="${book.title}">Card title</h6>
                    <p class="card-text" th:text="${book.author}">Card Text</p>
                    <p class="card-text" th:text="${book.publisher}">Card Text</p>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a aria-label="Previous" class="page-link" href="#"
                   th:href="@{/books?page={preStartPage}(preStartPage=${page.preStartPage})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <div th:each="tempPage : ${#numbers.sequence(page.startPage, page.endPage)}">
                <li class="page-item" th:if="${tempPage != page.nowPage}">
                    <a class="page-link" href="#" th:href="@{/books?page={page}(page=${tempPage})}"
                       th:text="${tempPage}">1</a>
                </li>
                <li class="page-item active" th:if="${tempPage == page.nowPage}">
                    <span class="page-link" th:text="${tempPage}"></span>
                </li>
            </div>

            <li class="page-item">
                <a aria-label="Next" class="page-link"
                   href="#" th:href="@{/books?page={nextStartPage}(nextStartPage=${page.nextStartPage})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>