<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--스프링부트에서 기본으로 사용하는 설정 불러오기-->
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <!--운영환경-->
  <springProfile name="prod">
    <include resource="slack-error-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="ASYNC_SLACK" />
    </root>
  </springProfile>

  <!--운영환경이 아닌 경우-->
  <springProfile name="!prod">
    <include resource="console-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

</configuration>