<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragment/common :: head('도서정보')"></head>
<body>
<nav th:replace="fragment/navbar :: nav"></nav>

<main class="container">
  <div class="card mb-3" style="max-width: 560px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img alt="..." class="img-fluid rounded-start" src="http://ebook.seocholib.or.kr/upload/20553/content/ebook/4808901098272/L4808901098272.jpg" th:src="${book.coverUrl}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" th:text="${book.title}">스틱</h5>
          <p>
            <span class="card-text" th:text="${book.author}">칩 히스</span>
            <span>/</span>
            <span class="card-text" th:text="${book.publisher}">웅진윙스</span>
          </p>
          <div th:each="location : ${book.location}">
            <span th:text="${location.library}">서초도서관</span>
            <span>/</span>
            <span th:text="${location.ebookService}">교보</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body></html>