<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('도서검색')"></head>
<body>
<nav th:replace="fragment/navbar :: nav"></nav>

<div style="max-height: 150px; height: 200px"></div>
<div class="p-4">
  <div class="m-auto" style="max-width: 580px">
    <form th:action="@{/books}">
      <div class="input-group">
        <select class="form-select" name="searchTarget" style="max-width: 110px">
          <option selected value="total">통합검색</option>
          <option value="title">제목</option>
          <option value="author">저자</option>
          <option value="publisher">출판사</option>
        </select>
        <input class="form-control form-control-lg" name="keyword" type="text" placeholder="제목 / 저자 / 출판사">
        <button class="btn btn-outline-primary" type="submit">검색</button>
      </div>
    </form>
  </div>
</div>

<script th:replace="fragment/common :: #script"></script>
</body></html>