<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('📚전자책벌레 - 전자도서관 통합검색')"></head>
<body>
<nav th:replace="fragment/navbar :: nav"></nav>

<div style="max-height: 150px; height: 200px"></div>
<div class="p-4">
  <div class="m-auto" style="max-width: 580px">
    <form th:action="@{/books}">
      <div class="input-group">
        <select class="form-select" style="max-width: 110px">
          <option th:each="searchTarget : ${searchTargets}"
                  th:value="${searchTarget.name}" th:selected="${searchTarget.name} == TOTAL"
                  th:text="${searchTarget.displayName}"></option>
        </select>
        <input class="form-control form-control-lg" name="keyword" type="text" placeholder="제목 / 저자 / 출판사">
        <button class="btn btn-outline-primary" type="submit">검색</button>
      </div>
    </form>
  </div>
</div>

<script th:replace="fragment/common :: #script"></script>
</body></html>