<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('도움말')"></head>
<body>
<nav th:replace="fragment/navbar :: nav"></nav>

<div class="my-5" style="max-width: 800px; margin: auto">
  <div class="mb-1 mx-2">
    <p>간혹 사이트 접속이 안되는 경우가 있어서 새로운 주소 <a href="http://ecrick.com" target="_blank">ecrick.com</a>를 만들었습니다.
    기존 주소(<code>elib.ga</code>)로도 접속이 가능하지만 새로운 주소를 사용하시길 추천합니다.</p>

    <p>공지사항은 <a href="https://blog.naver.com/PostView.naver?blogId=ticoba&Redirect=View&logNo=223007281711&categoryNo=9&isAfterWrite=true" target="_blank">블로그</a>에 올리도록 하겠습니다.
      불편하신 점이나 문의/건의사항도 블로그에 올려주세요. ^^</p>
  </div>

  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          지원하는 도서관 목록 ([[${libraryNames.size()}]])
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table">
            <tbody>
              <tr th:each="name : ${libraryNames}">
                <td th:text="${name}">강남구 전자도서관</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





<script th:replace="fragment/common :: #script"></script>
</body></html>