<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="common :: head('도서목록')"></head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
     th:replace="common :: menu(bookslist)"></nav>
  <!--검색창-->
  <div class="container">
    <form class="form-inline" th:object="${bookSearch}">
      <div class="input-group w-75">
        <input class="form-control" placeholder="검색어를 입력하세요." th:field="*{keyword}" type="text">
        <button class="btn btn-outline-secondary" id="button-addon2" type="submit">검색</button>
      </div>
    </form>
  </div>
  <main th:object="${books}"}>
    <!--정렬  -->
    <div class="container">
      <div class="row" >
        <div class="col">결과 총 <span th:text="*{getTotalElements()}"></span> 권</div>
        <div class="col sort-menu">
          <a th:href="@{/books (
            keyword=${param.keyword},
            sort=title + (*{sort.getOrderFor('title') != null} ? (*{sort.getOrderFor('title').isAscending()} ? ',desc' : '' ) : '')
            )}">제목순</a>
        </div>
        <div class="col sort-menu">
          <a th:href="@{/books (
            keyword=${param.keyword},
            sort=author + (*{sort.getOrderFor('author') != null} ? (*{sort.getOrderFor('author').isAscending()} ? ',desc' : '' ) : '')
            )}">저자순</a>
        </div>
        <div class="col sort-menu">
          <a th:href="@{/books (
            keyword=${param.keyword},
            sort=publisher + (*{sort.getOrderFor('publisher') != null} ? (*{sort.getOrderFor('publisher').isAscending()} ? ',desc' : '' ) : '')
            )}">출판사순</a></div>
        <div class="col sort-menu">
          <a th:href="@{/books (
            keyword=${param.keyword},
            sort=publicDate + (*{sort.getOrderFor('publicDate') != null} ? (*{sort.getOrderFor('publicDate').isAscending()} ? ',desc' : '' ) : '')
            )}">출간일순</a></div>
      </div>
    </div>

    <!--도서목록-->
    <main class="container">
      <div class="row row-cols-auto g-4">
        <div class="col-md-2" th:each="book : ${books.content}">
          <div class="card">
            <a th:href="@{/books/{id} (id=${book.id})}">
              <img class="card-img-top" src="" th:src="${book.imageUrl}">
            </a>
            <div class="card-body">
              <h6 class="card-title" th:text="${book.title}">Card title</h6>
              <p>
                <span class="card-text">
                  <small th:text="${book.author}" class="text-muted">하라리</small>
                </span>
                <span>/</span>
                <span class="card-text">
                  <small th:text="${book.publisher}" class="text-muted">김영사</small>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--페이징-->
    <div class="container" th:object="${pagination}">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!--이전 버튼-->
          <li class="page-item">
            <a aria-label="Previous" class="page-link" href="#"
               th:href="@{/books(
               keyword=${param.keyword},
               sort=${param.sort},
               page=*{preStartPage}
               )}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <!--페이지버튼-->
          <div th:each="page : *{pageNumbers}">
              <li class="page-item" >
                  <a class="page-link" href="#" th:if="${page != books.number}"
                     th:href="@{/books(
                     keyword=${param.keyword},
                     sort=${param.sort},
                     page=${page}
                     )}" th:text="${page+1}">1</a>
              </li>
              <!--현재 페이지 강조-->
              <li class="page-item active" th:if="${page == books.number}">
                  <span class="page-link" th:text="${page+1}"></span>
              </li>
          </div>
          <!--다음 버튼-->
          <li class="page-item">
              <a aria-label="Next" class="page-link" href="#"
                 th:href="@{/books(
                 keyword=${param.keyword},
                 sort=${param.sort},
                 page=*{nextStartPage}
                 )}">
                <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
</body>
</html>