<!DOCTYPE html><html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('관리자 페이지')"></head><body>






<nav th:replace="fragment/navbar :: nav"></nav>

<div class="container">

  <h2>1. 크롤링</h2>

  <h2>2. coreBook, book 생성</h2>

  <div>
    <table>
      <tbody>
        <tr>
          <td>총 Core 수 : [[${totalCore}]]</td>
          <td>총 Book 수 : [[${totalBook}]]</td>
        </tr>
      </tbody>
    </table>
  </div>

  <form th:action="@{/admin/insert-books}" method="post">
    <button type="submit" class="btn btn-primary">데이터 생성</button>
  </form>

  <h2>3. 중복제거</h2>

  <form th:action="@{/admin/reduce-duplicate}" method="post">
    <button type="submit" class="btn btn-primary">중복 제거</button>
  </form>

</div>









</body></html>