<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/common :: head('도서목록')"></head>
<body>

<nav th:replace="fragment/navbar :: nav"></nav>
<div th:replace="fragment/common :: #search-bar"></div>

<main th:object="${books}">
  <div class="container mb-2">
    <div class="row">
      <div class="col-9">
        <small th:if="${search.keyword != '' && search.keyword != null}">'[[${search.keyword}]]'검색 결과 총 [[*{getTotalElements()}]]건</small>
      </div>
      <div class="dropdown col">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">정렬</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" th:classappend="*{sort.getOrderFor('publicDate')} != null ? 'active'"
                 th:href="@{/books/mobile (keyword=${param.keyword}, sort=|publicDate,desc|)}">최신순</a></li>
          <li><a class="dropdown-item" th:classappend="*{sort.getOrderFor('title')} != null ? 'active'"
                 th:href="@{/books/mobile (keyword=${param.keyword}, sort=|title,desc|)}">제목순</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card a-tag-off" th:each="book : ${books.content}">
    <a th:href="@{|/books/${book.id}|}">
      <table>
        <tbody>
        <tr>
          <td width="110">
            <img src="https://image.aladin.co.kr/product/30684/36/cover200/k712830231_1.jpg" width="102" style="margin: 10;"
                 th:src="${book.imageUrl}">
          </td>
          <td align="left" valign="top">
            <div class="card-body">
              <h6 class="card-title"
                  th:text="${book.title}">사피엔스</h6>
              <p class="card-text">
                <span th:text="${book.author}">유발 하라리</span>
                <span>/</span>
                <span th:text="${book.publisher}">김영사</span>
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </a>
  </div>

  <nav th:replace="fragment/common :: pagination(path='/books/mobile')"></nav>
</main>

<div class="mb-2" style="text-align: center;">
  <a href="#" class="btn btn-outline-secondary"
     th:href="@{/books}"
     style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">pc버전</a>
</div>

<script th:replace="fragment/common :: #script"></script>
</body></html>